# Dependency directories
node_modules/
jspm_packages/

# Python temporary files and virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
/ml_module/__pycache__/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Excel files (both temp files and actual excel data sheets)
~$*.xlsx
*.xlsx

